astroid==4.0.2
bandit==1.9.2
certifi==2025.11.12
charset-normalizer==3.4.4
defusedxml==0.7.1
dill==0.4.0
fire==0.7.1
idna==3.11
iniconfig==2.3.0
isort==7.0.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.18.2
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pygments==2.19.2
pylint==4.0.3
pytest==9.0.1
pyyaml==6.0.3
requests==2.32.5
rich==14.2.0
setuptools==80.9.0
stevedore==5.6.0
termcolor==3.2.0
tomlkit==0.13.3
types-requests==2.32.4.20250913
typing-extensions==4.15.0
urllib3==2.5.0
xmltodict==1.0.2
