bandit==1.7.0
dataclasses==0.8; python_version < "3.7"
defusedxml==0.7.1
fire==0.4.0
mypy==0.910
mypy-extensions==0.4.3
pylint==2.11.1
requests==2.26.0
types-dataclasses==0.6.1
types-requests==2.25.12
typing_extensions==3.10.0.2
xmltodict==0.12.0
